<div class="hero">
  <div class="home-content">
    <h1>Hello friends!!</h1>
    <p class="lead">Notes for you - это простой и потрясающий блокнот. Он дает вам быстрый и простой опыт редактирования блокнота, когда вы пишете заметки, заметки, электронные письма, сообщения, списки покупок и списки дел. Делать заметки с помощью Notes for you Notepad проще, чем с любым другим блокнотом или приложением для блокнотов.
      <br><br>
      - Делая заметку -<br>
      Выступая в качестве простой программы обработки текста, текстовая опция позволяет вводить столько символов, сколько вы хотите ввести. После сохранения вы можете редактировать, делиться, устанавливать напоминания, отмечать или удалять заметку с помощью кнопки меню вашего устройства. При отметке текстовой заметки приложение помещает косую черту в заголовок списка, и это будет отображаться в главном меню.
      <br><br>
      - Составление списка дел или списка покупок -<br>
      В режиме контрольного списка вы можете добавить столько элементов, сколько захотите, и упорядочить их порядок с помощью кнопок перетаскивания, активированных в режиме редактирования. После того, как список будет завершен и сохранен, вы можете установить или снять отметку с каждой строки в вашем списке быстрым нажатием, что переключит косую черту. Если отмечены все элементы, то заголовок списка также обрезается.</p>
  </div>
</div>
